@model CatCafe.ViewModels.CadastradosViewModel

@{
    ViewData["Title"] = "Gatos cadastrados";
}

<head>
    <title>Lista de gatos</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <h3>Lista de gatos cadastrados</h3>
    <form method="post">
        <div class="form-group">
            <label asp-for="Search"></label>
            <input asp-for="Search" />
            <input type="submit" class="btn btn-outline-primary" />
        </div>

    </form>

        <table class="tabelaListagem">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Espécie</th>
                    <th>É Alugável?</th>
                    <th>Está Alugado?</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>

        <tbody>
            @foreach (var cadastrados in Model.Cadastrados)
            {
                var cssClass = !string.IsNullOrWhiteSpace(Model.Search) && cadastrados.Nome.Contains(Model.Search, StringComparison.InvariantCultureIgnoreCase) ? "text-info" : "";

                    <tr class="@cssClass">
                        <td>@cadastrados.Id</td>
                        <td>@cadastrados.Nome</td>
                        <td>@cadastrados.Especie</td>
                        <td>@cadastrados.Alugavel</td>
                        <td>@cadastrados.EstaAlugado</td>
                        <td>Editar</td>
                        <td>Excluir</td>
                    </tr>
                }
            </tbody>
        </table>
 </body>
